<app-bread-crumb
  [itens]="[{texto: 'Lançamentos', link:'/lancamentos'}, {texto: pageTitulo}]"
></app-bread-crumb>

<div class="row md-4">
<div class="col-md-9">
  <h1 class="h2 border-left pl-2">
    {{ pageTitulo }}
  </h1>
</div>
<div class="col-md-3">
    <a routerLink="/lancamentos" class="btn btn-light float-right">
      << Voltar
    </a>
</div>
</div>

<form [formGroup] ="resourceForm" (submit)="enviarForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>
    <div class="card-body">

      <div class="form-row">
          <!-- Tipo -->
          <div class="form-group col-md-2">
            <label for="nome">Tipo</label>
            <select name="tipo" id="tipo"  formControlName="tipo" class="form-control">
              <option *ngFor="let tipo of tiposOptions" [value]="tipo.value">{{tipo.texto}}</option>
            </select>
            <div class="text-danger" *ngIf="resourceForm.get('tipo').invalid && resourceForm.get('tipo').touched">
                <div *ngIf="resourceForm.get('tipo').errors.required">Dado obrigatório</div>
            </div>
          </div>
           <!-- Nome -->
          <div class="form-group col-md-5">
              <label for="nome">Lançamento</label>
              <input type="text" class="form-control" id="nome" formControlName="nome">
              <div class="text-danger" *ngIf="resourceForm.get('nome').invalid && resourceForm.get('nome').touched">
                  <div *ngIf="resourceForm.get('nome').errors.required">Dado obrigatório</div>
                  <div *ngIf="resourceForm.get('nome').errors.minlength">O lançamento deve ter no mínimo 2 caracteres</div>
              </div>
            </div>
            <!-- valor -->
            <div class="form-group col-md-3">
                <label for="valor">Valor</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      R$
                    </div>
                    <input [imask]="imaskConfig" type="text" class="form-control text-right" id="valor" formControlName="valor">
                  </div>
                </div>
                <div class="text-danger" *ngIf="resourceForm.get('valor').invalid && resourceForm.get('valor').touched">
                    <div *ngIf="resourceForm.get('valor').errors.required">Dado obrigatório</div>
                </div>
              </div>

               <!-- Data -->
              <div class="form-group col-md-2">
                  <label for="valor">Data</label>
                  <p-calendar
                      id="data"
                      formControlName="data"
                      inputStyleClass="form-control"
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      [locale]="ptBR"
                      [showButtonBar]="true">
                  </p-calendar>
                  <div class="text-danger" *ngIf="resourceForm.get('data').invalid && resourceForm.get('data').touched">
                      <div *ngIf="resourceForm.get('data').errors.required">Dado obrigatório</div>
                  </div>
                </div>
        </div>

        <div class="form-row">

           <!-- pago -->
           <div class="form-group col-md-2">
              <label for="valor">Pago</label>
              <div class="btn-group">
                <label (click)="setPagamento(true)" [class.active]="resourceForm?.get('paga')?.value == true" class="btn btn-outline-info">Pago</label>
                <label (click)="setPagamento(false)" [class.active]="resourceForm?.get('paga')?.value == false" class="btn btn-outline-info">Pendente</label>
              </div>
              <div class="text-danger" *ngIf="resourceForm?.get('paga')?.invalid && resourceForm?.get('paga').touched">
                  <div *ngIf="resourceForm.get('paga').errors.required">Dado obrigatório</div>
              </div>
            </div>
              <!-- Tipo -->
              <div class="form-group col-md-3">
                <label for="nome">Categoria</label>
                <select name="tipo" id="tipo" formControlName="categoriaId" class="form-control">
                  <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome}}</option>
                </select>
                <div class="text-danger" *ngIf="resourceForm?.get('categoriaId').invalid && resourceForm?.get('categoriaId').touched">
                    <div *ngIf="resourceForm.get('categoriaId').errors.required">Dado obrigatório</div>
                </div>
              </div>

              <!-- Descricao -->
           <div class="form-group col-md-5">
              <label for="nome">Descrição</label>
              <input type="text" class="form-control" id="descricao" formControlName="descricao">
            </div>
        </div>

    </div>
  </div>

  <div class="alet alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong class="ml-4">Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="submmitingForm || resourceForm.invalid"
    type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>
